.modalHeader {
	font-weight: 700;
	font-size: 1.2rem;
}

.modalBody {
	padding: 40px 120px !important;
}

.modalHeaderImage {
	position: relative;
}

@media (max-width: 991.98px) {
	.modalBody {
		padding: 40px 20px !important;
	}
}
