.productPageHeader {
	align-items: center;
}

.carouselWrapper {
	margin-bottom: 2rem;
	width: 100%;
	height: 100%;
}
.products {
	width: 100%;
	margin-bottom: 2rem;
}
.productCompanyBadge {
	background-color: var(--black);
	color: var(--white);
	padding: 4px 10px !important;
	font-size: 0.7rem;
}

.productDiscountBadge {
	margin-left: 0.5rem !important;
	background-color: var(--orange);
	color: var(--white);
	padding: 4px 10px !important;
	font-size: 0.7rem;
}

.productPage {
	padding-top: 1rem !important;
}
.productCard {
	text-align: center;
	border-radius: 1rem;
	transition: all 0.2s ease 0s;
	margin-bottom: 1rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	min-height: 320px;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}

.productBadges {
	margin-bottom: 0.5rem;
}

.campaignCard {
	box-shadow: var(--custom-box-shadow);
}
.productCard:hover {
	box-shadow: var(--custom-box-shadow);
}

.productCardImage {
	height: 100%;
	width: 100%;
	max-width: 250px;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.productCard:hover .productCard-new-label {
	opacity: 0;
}

.productCardContent {
	padding: 15px;
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.productCardDetails {
	text-align: left;
}

.productCardTitle {
	font-weight: 600;
}

.productActionsQuantity {
	display: flex;
	align-items: center;
}
.productName {
	word-break: break-all;
}
.productActions {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	align-items: center;
	font-size: 1.1rem;
}

.productQuantityWrapper {
	margin-right: 1rem !important;
}

.productImageWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.productImageWrapper:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.productCampaignsRow {
	width: 100%;
}
.productImage {
	height: auto;
	width: 100%;
}
.productDescriptionWrapper {
	padding: 0 1rem;
}
.productDescription {
	line-height: 1.5rem;
}

.productQuantity {
	width: 200px;
}

@media (max-width: 575.98px) {
	.productActionsQuantity {
		margin-bottom: 1rem;
	}
	.pageTitle {
		font-size: 1.5rem;
	}
	.productCardContent {
		display: block;
	}
}

@media (max-width: 767.98px) {
	.productImage {
		height: auto;
		max-width: 250px;
	}
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
