.buttonWrapper {
  display: flex;
}

.voucherifyButtonOrange {
  color: var(--white) !important;
  font-family: 'Lato' !important;
  font-size: 0.9rem !important;
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
  border-radius: 10px !important;
  padding: 5px 20px !important;
  margin: 15px 0px !important;
  text-transform: none !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.voucherifyButtonOrange:hover {
  background-color: var(--orange);
}

.voucherifyButtonDark {
  color: var(--white) !important;
  background-color: var(--black) !important;
  border-color: var(--black) !important;
  font-family: 'Lato' !important;
  font-size: 0.9rem !important;
  border-radius: 10px !important;
  padding: 5px 20px !important;
  margin: 15px 0px !important;
  text-transform: none !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.voucherifyButtonDark:hover {
  background-color: var(--black);
}

.voucherifyButtonDark:focus,
.voucherifyButtonOrange:focus {
  box-shadow: unset;
}

.buttonSeparator {
  width: 15px;
}

.paymentButton {
  width: 100%;
}

@media (max-width: 575.98px) {
  .voucherifyButtonDark {
    width: 100%;
  }
}
