html {
  font-size: 16px;
}

body {
  background-color: var(--voucherify-bg-white) !important;
  font-family: 'Lato', sans-serif !important;
  position: relative;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

button:focus {
  outline: none !important;
  border: 0 !important;
}

a,
a:focus,
a:hover {
  text-decoration: none !important;
  color: unset !important;
}

.mainContent.sidebar .sidebarWrapper {
  right: -290px;
}

.voucherifyLink {
  color: var(--voucherify-link);
  text-transform: none;
  text-decoration: none;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}

.voucherifyLink:hover {
  color: var(--voucherify-link-hover);
}

.pageContainer {
  padding-bottom: 5rem;
}

.page {
  padding-top: 5rem;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  justify-content: center;
  margin-bottom: 2rem;
}

.pageTitle {
  word-break: break-all;
}

.spinnerWrapper {
  justify-content: center;
  margin-bottom: 5rem;
}

.validateButton {
  z-index: 1 !important;
}

@media (max-width: 575.98px) {
  .mainContent.sidebar .sidebarWrapper {
    right: calc(-100vw + 70px);
  }

  .mainContent {
    margin-right: 70px;
  }

  .pageTitle {
    font-size: 1.5rem;
  }
  .pageHeader {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767.98px) {
  .pageContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
