:root {
  --bg-white: white;
  --orange: #ff8b5c;
  --link: #25abb7;
  --link-hover: #007682;
  --white: white;
  --black: black;
  --lightgrey: #7a7a7a;
  --custom-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --link-black-hover: #7a7a7a;
  --bg-sidebar: #f8f7f7;
  --green: green;
}
