.ribbonWrapper {
  z-index: 17;
  padding: 0.25rem 0px;
  background: var(--orange);
  width: 100%;
  color: var(--white);
  text-align: center;
  min-height: 30px;
}

.ribbon {
  margin: 0 auto;
}

.ribbonCode {
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .ribbonWrapper {
    font-size: 0.8rem;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
