.carousel-indicators li {
  height: 15px !important;
}

.carouselWrapper {
  margin-bottom: 2rem;
}

.campaignsCarousel {
  width: 100% !important;
}

.carousel {
  width: 100%;
  max-width: 1080px;
  height: 400px;
  background-position: center;
  object-fit: cover;
  margin: 0 auto;
}

.carousel-indicators {
  margin-bottom: 0px !important;
}
.carouselBanner {
  min-height: 250px;
  padding: 2rem;
  color: var(--black);
  background-color: var(--bg-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.carouselBannerFullWidth {
  width: 80%;
}

.carouselBannerText {
  padding: 1rem;
}

.carouselBannerTextHalfWidth {
  width: 50%;
}

.carouselBannerTitle {
  font-family: 'Lato black';
}

.carouselBannerDescription {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0px;
}

.carouselBannerImage {
  background-color: var(--bg-white);
  width: 50%;
}

.carouselBannerDescriptionPromotion {
  font-weight: 700;
  margin: 1rem 0;
}

.modal-content {
  border: none;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.carouselBannerImageImg {
  width: 100%;
}

@media (max-width: 575.98px) {
  .carouselBannerText {
    padding: 0.5rem;
  }

  .carousel-indicators {
    display: none !important;
  }

  .carouselBanner {
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 75%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .carouselBannerTitle {
    font-size: 0.9rem;
  }
}

@media (max-width: 767.98px) {
  .carouselBannerTextHalfWidth {
    width: 100%;
  }

  .carouselBannerImage {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .carouselBannerDescription {
    font-size: 0.7rem;
    line-height: 1.1rem;
  }
  .carouselBannerTitle {
    font-size: 1.1rem;
  }
}

@media (max-width: 1199.98px) {
}
