.sidebarWrapper::-webkit-scrollbar {
  display: none;
}

.sidebarWrapper {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-height: 100vh;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  width: 300px;
  z-index: 17;
  margin-right: 0px;
  -ms-overflow-style: none;
  /*IEandEdge*/
  scrollbar-width: none;
  -ms-transition: all 0.25s ease-out;
  background-color: #f8f7f7;
  border-left: 1px solid #c0c0c0;
}

.sidebarContentWrapper {
  display: flex;
  /* min-width: 100px; */
  /* height: 100vh; */
}
.sidebarLabels {
  min-width: 70px;
  padding: 25px 0px;
  /* position: fixed; */
  /* height: 135vh; */

  /* border-left: 1px solid #c0c0c0; */
  border-right: 1px solid #c0c0c0;
}

.MuiTabs-fixed {
  position: fixed !important;
  width: 70px !important;
  height: 100% !important;
  border-right: 1px solid #c0c0c0 !important;
}
.sidebarTab {
  min-width: 230px;
  height: 100%;
  padding: 25px 0px;
  /* border-left: 1px solid #c0c0c0; */
}
.sidebarWrapper .storeSidebarHeading {
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.MuiTab-root {
  min-width: unset !important;
}

/* Qualifications style */

.qualificationChip {
  height: 100% !important;
  margin: 0.1rem;
}

.qualificationChipName {
  font-family: 'Lato';
  white-space: normal;
  padding: 0.5rem 0 !important;
  margin-bottom: 0px;
  font-size: 0.7rem;
  font-weight: 700;
}

.sidebarSection {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
.sidebarSectionHeading {
  display: flex;
  margin-bottom: 0.5rem;
}

.sidebarSectionTitle {
  font-family: 'Lato black';
  font-size: 1rem;
  /* padding-left: 0.5rem; */
}

.MuiAccordionSummary-content {
  height: 40px;
  align-items: center;
}
.accordionSection {
  padding-left: 0.5rem;
}

.accordionTitle {
  font-family: 'Lato';
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 0.9rem;
}

.cartDiscountSwitch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0.5rem;
}
.cartDiscountCampaignSwitch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0rem;
}
.MuiAccordionSummary-root {
  padding: 0 0.5rem !important;
  min-height: 40px !important;
}

.MuiAccordionDetails-root {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.discountDescription {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.campaignDescription {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 0.8rem !important;
  margin-bottom: 1rem !important;
  text-align: center;
  color: #7a7a7a;
}

.discountDescriptionAmount,
.redemptionAmount {
  font-weight: 700;
}

.redemptionRules,
.statistics {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 700;
}
.redemptionRulesWrapper {
  margin: 1rem 0rem;
}
.redemptionRulesStep {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.discountCodeButton {
  display: flex;
  justify-content: center;
}
.sidebarSectionBody {
  min-height: 150px;
}
.titleTooltip {
  margin-left: 0.5rem;
  cursor: help;
}

.sidebarSpinner {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.sidebarSectionCustomerData {
  /* font-weight: 700; */
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  color: #7a7a7a;
}

.qualificationSection {
  padding-right: 0.5rem !important;
}

.sidebarSectionCustomerDataContent {
  font-weight: 700;
  color: black;
}

.MuiAccordionDetails-root {
  /* background-color: #80808033 !important; */
}
.sidebarAccordion {
  width: 100%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.sidebarWrapper .campaignDescription {
  font-size: 0.875rem;
  margin-bottom: 0px;
}

.sidebarWrapper .sectionHeading {
  font-weight: 700;
}
.sidebarWrapper .redemptionRules {
  margin-bottom: 0px;
}

.sidebarWrapper .campaignStepDescription {
  margin-left: 10px;
}
.sidebarWrapper .campaignStepText {
  margin-bottom: 0px;
}

.redemptionTier {
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  background-color: #c0c0c061;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.tierTitle {
  margin-bottom: 0.5rem !important;
}
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

/* Other */
