:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #ffffff;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Lato", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  font-size: 14px;
  position: relative;
}

.product-grid {
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease 0s;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 320px;
}

.product-grid:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-grid .product-image a {
  display: block;
}

.product-grid .product-image img {
  width: 100%;
  height: auto;
}

.product-grid .pic-1 {
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}

.product-grid .product-discount-label,
.product-grid .product-new-label {
  color: #fff;
  background-color: #16a085;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 15px;
  transition: all 0.3s;
}

.product-grid .product-discount-label {
  left: auto;
  right: 10px;
  background-color: #d7292a;
}

.product-grid:hover .product-new-label {
  opacity: 0;
}

.product-grid .product-content {
  padding: 15px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-grid .title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}

.product-grid .title a {
  text-decoration: none;
  color: var(--mainDark);
}

.product-grid .price {
  color: var(--mainDark);
  font-size: 17px;
  font-weight: 700;
  display: block;
}

.product-grid .price span {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}

/* #modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
} */

.mainContent {
  transition: margin-left 0.5s;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

#storeCustomers {
  width: 100%;
}

.campaign_card a {
  text-decoration: none;
  color: black;
}

.campaign_code p {
  margin: 0px;
}

.campaign_steps input {
  overflow: hidden;
}

.campaign_steps label {
  margin-left: 10px;
  margin-bottom: 0px;
}

.campaign_title a {
  text-decoration: none;
}

#sidebar-wrapper {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-y: auto;
  min-height: 100vh;
  overflow-x: hidden;
  width: 25rem;
  z-index: 3;
}

.navbar-sticky {
  background-color: white;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 2;
}

#sidebar-wrapper .sidebar-title {
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 100vw;
}
.sidebar-content {
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
}

.sidebar-content-data {
  font-weight: 700;
}

.sidebar-select-customer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
}
button:focus {
  outline: none !important;
  border: 0 !important;
}

#wrapper.toggled #sidebar-wrapper {
  margin-right: 0;
}

.search-products {
  display: flex;
  width: 100%;
  padding-left: 15px;
}

@media (max-width: 1200px) {
  .navbar-brand {
    position: static;
    margin-left: 0px !important;
  }
  .navbar {
    flex-direction: row-reverse;
  }
}
@media (max-width: 768px) {
  #sidebar-wrapper {
    position: absolute;
    top: 10vh;
    right: 0px;
    width: 50%;
    min-height: 100%;

    overflow-y: auto;
    /* min-height: 100vh; */
    overflow-x: hidden;
    z-index: 3;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-right: -25rem;
  }
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-right: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-right: -25rem;
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}
